16_frame_clips_blurred/
16_frame_clips_video/
checkpoints/
droid/
kinetics-dataset/
kinetics400_5per/
16_frame_clips_blurred/
16_frame_clips_video/
bench_pressing_dataset/
full_videos/
some_actions_sample_dataset/
some_videos_sample_sequential_clips/
some_videos_sample_sequential_clips_2/
pull_up_test/
pull_up_test_2/
youtube_test_2/
youtube_test_clips/
metrics_test/
*.npy
*.pt
*.mp4
*.pkl